# array that holds hardware-specific options of osm2pgsql
machine = [
    '-C 8000',                      # cache memory size
    '--number-processes 4',         # number of CPU cores to use

    '--unlogged',                   # use unlogged tables on import (requires postgres9.1)

    '-k',                           # create 'tags' hstore column
    '-s',                           # slim mode
    '-G',                           # multipolygon becomes one polygon in database

    '--exclude-invalid-polygon',    # drop all invalid geometries on import
]



# array that holds database-specific options
instance = {
    'osm2pgsql.style':  'assets/osm2pgsql.style',           # default.style for this instance
#   'nodes.cache':      '/solid1/nodes.cache',              # 17+gb file with linear array of nodes
    'pg_table_prefix':  'planet_osm',                       # table prefix in db
    'pg_database':      'gis',                              # database name
    'pg_user':          'gis',                              # username
    'dump':             '/home/gis/synth.osm.pbf',          # planet file path
    'external_dumps':   [
        ('gislab-local.osm.pbf',        'http://gis-lab.info/projects/osm_dump/dump/latest/local.osm.pbf'),
        ('asia.osm.pbf',                'http://download.geofabrik.de/openstreetmap/asia.osm.pbf'),
        ('australia-oceania.osm.pbf',   'http://download.geofabrik.de/openstreetmap/australia-oceania.osm.pbf'),
        ('great-britain.osm.pbf',       'http://download.geofabrik.de/openstreetmap/europe/great_britain.osm.pbf'),
        ('norway.osm.pbf',              'http://download.geofabrik.de/openstreetmap/europe/norway.osm.pbf'),
        ('slovakia.osm.pbf',            'http://download.geofabrik.de/openstreetmap/europe/slovakia.osm.pbf'),
        ('poland.osm.pbf',              'http://download.geofabrik.de/openstreetmap/europe/poland.osm.pbf'),
        ('hungary.osm.pbf',             'http://download.geofabrik.de/openstreetmap/europe/hungary.osm.pbf'),
        ('finland.osm.pbf',             'http://download.geofabrik.de/openstreetmap/europe/finland.osm.pbf'),
        ('austria.osm.pbf',             'http://download.geofabrik.de/openstreetmap/europe/austria.osm.pbf'),
        ('czech_republic.osm.pbf',      'http://download.geofabrik.de/openstreetmap/europe/czech_republic.osm.pbf'),
        ('serbia.osm.pbf',              'http://download.geofabrik.de/openstreetmap/europe/serbia.osm.pbf'),
    ],
    
    'tmpdir':           '/tmp/furry-sansa/',                # where to put temporary files
    'log':              '/tmp/furry-sansa.log',             # log file path
    
}

osm2pgsql_options = machine[:]
osm2pgsql_options.extend([
    '--prefix ' + instance['pg_table_prefix'],      # table prefix
    '-S '       + instance['osm2pgsql.style'],
    '-d '       + instance['pg_database'],          # postgresql database name
    '-U '       + instance['pg_user'],              # postgresql username
])

if 'nodes.cache' in instance:
    osm2pgsql_options.append(
    '--flat-nodes ' + instance['nodes.cache']       # flat nodes file, used only if needed
    )

osm2pgsql_actions = {
    'create': ' '.join(osm2pgsql_options+ [
        '--create',
        instance['planet']
        ])
    }
    
#print ' '.join(osm2pgsql_options)
#'--create',